:root {
  --vod-margin: 1.25em;
}

body {
  margin: 0;
  text-align: center;
  background: black;
  color: white;
}

a {
  color: #7dc0fd;
  font-family: sans-serif;
}

.flex { display: flex; }
.flex-column { display: flex; flex-direction: column; }
.horizontal-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.horizontal-list li { display: inline-block; }
.horizontal-list li:not(:last-child):after { content: " | "; }

a.subscribe {
  text-decoration: underline;
  cursor: pointer;
}

#container {
  display: flex;
  max-width: 100%;
  min-height: 100vh;
}

#main-content {
  flex: 1 1 100%;
  overflow-y: auto;
}

#sidebar-right {
  flex: 1 1;
  flex-basis: 30%;
  display: flex;
  position: sticky;
  top: 0;
  height: 100vh;
}

.right-collapsed #sidebar-right { display: none; }

#chats {
  flex: 1 1 100%;
  flex-direction: column-reverse;
  overflow-y: auto;
  text-align: left;
  font-family: sans-serif;
  word-break: break-word;
  hyphens: auto;
}

#chat-presence { text-align: right; }
#chat-presence .chat-present {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 100px;
}

#chats .chat-line.chat-error {
  text-align: center;
  color: #f38484;
}

.dual-input input {
  background: black;
  border: 1px solid #757575;
  padding: 4px;
  color: white;
  outline: none;
}

.dual-input input:first-child { border-right: none; }
#chat-input { flex: 1 1 100%; }

#video {
  max-width: 100%;
  max-height: 100vh;
}
#video:not(:hover)::-webkit-media-controls-enclosure { display: none; }

#collapse-hoverer {
  width: 75px;
  height: 75px;
  position: fixed;
  top: 0;
  right: 20.3%;
}

.right-collapsed #collapse-hoverer { right: 0; }

#collapse-button {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 16px solid white;
  margin: auto;
  margin-top: 15px;
  opacity: 0.2;
  cursor: pointer;
}

.right-collapsed #collapse-button {
  border-right: 16px solid white;
  border-left: none;
}

#collapse-hoverer:hover #collapse-button { opacity: 1; }

#vods-container {
  justify-content: left;
  flex-wrap: wrap;
}

#vods-container .vod { margin: var(--vod-margin); }

@media (orientation: portrait) {
  #container {
    flex-direction: column;
    height: 100vh;
  }
  #main-content {
    flex: initial;
    overflow-y: initial;
  }
  #sidebar-right {
    flex-basis: initial;
  }
  .right-collapsed #sidebar-right { display: flex; }
  #collapse-hoverer { display: none; }
  .horizontal-list { font-size: smaller; }

}

@media (orientation: landscape) {
  #vods-container .vod {
    max-width: calc(50% - (2 * var(--vod-margin)));
  }
}

#vods-container .vod img {
  border: 3px solid #4c4c4c;
  max-width: 100%;
  box-sizing: border-box;
}

#vods-container .vod span.vod-line {
  display: block;
  font-family: sans-serif;
}

#vods-container .vod span.vod-line.vod-subject {
  color: #83cbf1;
  font-size: smaller;
  font-style: oblique;
}
